@tailwind base;
@tailwind components;
@tailwind utilities;

body{
overflow-x:hidden;}
.text-primary{
color:#46a999}
.text-secondary{
color:#44b29d}
.line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #46a999;
  transition: width 0.3s ease-in-out;
}

.menu-link:hover .line {
  width: 100%;
}